/target
/out
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.cpcache
/.lsp
/.claude
/.clj-kondo/*
!/.clj-kondo/config.edn
/.idea
*.iml
/backup
/.DS_Store
/gen-resources
/.lein-*
/.nrepl-port
/ant
